* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(233, 222, 215);
}

/* BODY */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.nav a{ 
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30px;
    transition: .3s;
}

.nav a:hover, 
.nav a.c1 {
    color: rgb(224, 177, 130);
}

/* MOVIES */ 

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    font-size: 20px;
}
.parent p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    font-size: 10x; 
}
.hi{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    border-radius: 5px;
    border: 2px solid aliceblue;
}


/* DIV 1 */

.parent{
    column-gap: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px;
}
.child{
    background-color: rgb(195, 210, 240);
    height: 300px;
    width: 300px;
    border: 2px solid rgb(66, 66, 66);
    border-radius: 5px;
    margin: 10px;
}

.boo{
    width: 100%;
}
